@import "./fonts.scss";

// Brand Colors
$primary-black: #333;
$primary-blue: #1f3667;
$primary-orange: #c05931;
$primary-pink: #d3519d;
$primary-teal: #9dd2cb;

$secondary-orange: #e47411;

// Basic Colors
$white: #fff;
$black: #000;

// Typography
.ailerons {
  font-family: "Ailerons";
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Steelfish Rg";
  font-weight: bold;
}
h1 {
  letter-spacing: 0.1em;
}
body,
footer,
p {
  font-family: "Taviraj";
}
h4 {
  font-size: 2em;
}
h2 {
  font-weight: bold;
}
