.card {
  .card-title {
    font-family: "Steelfish Rg";
    font-size: 2em !important;
    padding-bottom: 1em;
  }
  .card-img {
    max-width: 75%;
  }
}

button {
  font-family: "Steelfish Rg";
  font-weight: bold;
  font-size: 1.25em;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  &.btn-primary {
    background-color: $primary-orange !important;
    border-color: $primary-orange !important;
  }
  &.btn-secondary {
    background-color: $primary-blue;
    border: none;
  }
}
