// Import and Declare Fonts
@font-face {
  font-family: "Ailerons";
  src: url("../../fonts/Ailerons-Regular.woff2") format("woff2"),
    url("../../fonts/Ailerons-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Steelfish Eb";
  src: url("../../fonts/SteelfishEb-Regular.woff2") format("woff2"),
    url("../../fonts/SteelfishEb-Regular.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Steelfish Eb";
  src: url("../../fonts/SteelfishEb-Italic.woff2") format("woff2"),
    url("../../fonts/SteelfishEb-Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Steelfish Rg";
  src: url("../../fonts/SteelfishRg-Italic.woff2") format("woff2"),
    url("../../fonts/SteelfishRg-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Steelfish Rg";
  src: url("../../fonts/SteelfishRg-BoldItalic.woff2") format("woff2"),
    url("../../fonts/SteelfishRg-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Steelfish Rg";
  src: url("../../fonts/SteelfishRg-Regular.woff2") format("woff2"),
    url("../../fonts/SteelfishRg-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Steelfish Rg";
  src: url("../../fonts/SteelfishRg-Bold.woff2") format("woff2"),
    url("../../fonts/SteelfishRg-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Steelfish Outline";
  src: url("../../fonts/SteelfishOutline-Regular.woff2") format("woff2"),
    url("../../fonts/SteelfishOutline-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Taviraj&display=swap");
