@import "./brand.scss";
@import "./header.scss";
@import "./hero.scss";
@import "./components.scss";

.intro-section {
  padding: 4em 0;
}

.motion-bg {
  background: linear-gradient(313deg, #22123f, #1f3667);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 7%;
    }
    50% {
      background-position: 100% 94%;
    }
    100% {
      background-position: 0% 7%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 7%;
    }
    50% {
      background-position: 100% 94%;
    }
    100% {
      background-position: 0% 7%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 7%;
    }
    50% {
      background-position: 100% 94%;
    }
  }
}

.section-title {
  padding: 2em 0;
  font-size: 3em;
  font-family: "Ailerons";
  &.light {
    color: $white;
  }
  &.dark {
    color: $primary-blue;
  }
}

.testimonials {
  .section-title {
    color: $primary-blue;
  }
  .testimonials-item {
    margin: 2em 0;
    padding: 2em 0;
    border-bottom: 1px solid grey;
    &.even {
      border-top: 1px solid grey;
    }
  }
}

.services {
  padding-bottom: 4em;
  .serv-cols {
    display: flex;
    .card {
      height: 100%;
      padding-top: 1em;
    }
  }
  @media screen and (max-width: 768px) {
    .card {
      margin: 1em;
    }
  }
}

.spotlights {
  .spotlights-item {
    padding-bottom: 4em;
  }
}

footer {
  .inner {
    padding: 1em;
  }
  .footer-logo {
    max-height: 45px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-link {
    color: $white !important;
  }
}

.navbar {
  font-family: "Steelfish Rg";
  font-weight: bold;
  font-size: 1.5em;
  color: $primary-black;
  .navbar-logo {
    max-height: 50px;
    margin-bottom: 0;
  }
  .nav-link {
    color: $primary-black;
    &:hover {
      color: $black;
    }
    transition: all 0.5s ease-in-out;
  }
}

.content {
  padding: 3em 0;
  .main-content {
    // max-width: 700px;
  }
}

.container {
  @media screen and (max-width: 576px) {
    // margin-left: 1em !important;
    // margin-right: 1em !important;
  }
}

.shadowed {
  box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.45);
}

.intro-section .jumbotron {
  color: white;
  background-color: $primary-orange;
  text-align: center;
  .jumbo-title {
    font-family: "Steelfish Rg";
    font-size: 2em;
    text-decoration: underline;
  }
  .jumbo-left {
    text-align: right;
    font-size: 3em;
    font-family: "Steelfish Rg";
    font-weight: bold;
    &::after {
      content: "";
      width: 0;
      height: 100%;
      position: absolute;
      border: 1px solid $white;
      top: 0;
      right: -10px;
    }
  }
  .jumbo-right {
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    padding: 2em;
  }
}

.services-grid {
  padding-bottom: 4em;
  a:hover {
    text-decoration: none;
  }
  h4 {
    font-weight: bold;
    color: $black;
    margin-top: 0.5em;
    font-size: 2em;
    &:hover {
      text-decoration: none;
    }
  }
  .services-cta {
    margin-top: 2em;
    button {
      margin-top: 1em;
      h4 {
        margin-top: 0;
        color: white;
      }
    }
  }
  .row {
    padding-bottom: 3em;
  }
  .icon-box {
    height: 155px;
    .service-icon,
    .service-icon-hover {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      transition: opacity 0.25s ease-in-out;
      -moz-transition: opacity 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out;
    }
    .services-icon-hover {
      z-index: 0;
      &:hover {
        opacity: 0;
      }
    }
    .service-icon-hover {
      opacity: 0;
      z-index: 1;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.download-cta {
  text-align: center;
  margin-top: 3em;
  font-weight: bold;
  background-color: $primary-teal;
  padding: 2em;
  img {
    max-width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .jumbo-left {
    text-align: center !important;
    &:after {
      display: none;
    }
  }
}

.services-page {
  h3 {
    font-weight: bold;
  }
}

.business-partners {
  margin-bottom: 2em;
}
