.header-nav {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  .phone-cta {
    margin-top: 0.5rem;
    &:after {
      content: " |";
      white-space: pre;
      margin-right: 0.5rem;
    }
  }
  .nav-link:hover {
    background-color: $primary-orange;
    color: white !important;
    transition: all ease-in-out 0.25s;
  }
}
