#hero {
  color: $white;
  .hero-bg-image {
    // background-image: url("../../images/HeroBG.jpg");
  }
  .hero-overlay {
    background-image: url("../../images/transparent-bg.png");
  }
  .hero-title {
    font-size: 4.5em;
    padding: 1em 0 1em;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
      10px 20px 5px rgba(0, 0, 0, 0.2), -10px 20px 5px rgba(0, 0, 0, 0.2);
  }
  .hero-slogan {
    padding: 1em 0;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }
  .hero-cta {
    margin-bottom: 2em;
    a {
      color: white !important;
      text-decoration: none;
    }
  }
  .carouselContainer {
    display: block;
    height: 250px;
    position: relative;
  }
}
